dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
numpy==1.26.0
pandas==2.1.1
pipreqs==0.4.12
plotly==5.17.0
pyspark==3.5.0
scikit-learn==1.3.1
scipy==1.11.3
